@import url('https://fonts.googleapis.com/css?family=Orbitron');

:root{
    --warning: rgb(212, 224, 44);
}
*{
    margin:0; padding:0; box-sizing:border-box;
}
body{
    background-color: rgb(173, 173, 173)
}
.container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "title title title title"
            "input input input input"
            "AC C slash times"
            "seven eight nine minus"
            "four five six plus"
            "one two three equal"
            "zero zero dot equal"
            ;
}
.button{
    outline: 1px solid rgb(3, 3, 3);
    padding:20px 30px;
    font-weight:bold;
    font-size:1.2em;
    cursor:pointer;
}
.button:hover{
    opacity:0.5;
}
.symbol-color{
    background-color:rgb(105, 105, 105)
}
.number-color{
    background-color: rgb(71, 71, 71)
}
.zero{
    grid-area:zero;
}
.equal{
    grid-area:equal;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(70, 69, 117);
}
.title{
    color: rgb(173, 173, 173);
    grid-area:title;
    padding:4px 0;
    outline:1px;
    background-color: rgb(173, 173, 173);
    text-shadow: -3px -4px 7px rgb(0, 0, 0);
}
.title h3{
    font-weight:1000;
}
.back-color {
    background-color: #111;
}
.output{
    padding:0;
    width:100%;
    pointer-events: none;
    grid-area:input;
    text-align: right;
    padding: 5px 5px;
    font-family: 'Orbitron', sans-serif;
    font-size:0.8em;

}
.output input{
    text-align:right;
    border:none;
}
.output-1{
    background-color:rgb(255, 255, 255);
    width:100%;
    padding: 3px 0;
    opacity: 0.6;
    color:rgb(0, 0, 0);
    font-size:14px;
    font-weight:600;
}
.output-2{
    background-color: #111;
    font-size:1.5rem;
    color: var(--warning)
}
.AC{
    background-color: rgb(80, 28, 28)
}
.C{
    background-color: rgb(49, 39, 9) 
}